# macOS
.DS_Store
Icon?

# VSCode
.vscode/

# Node.js
node_modules/
npm-debug.log*
.yarn/
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.pnpm-debug.log*

# Logs & temp
logs/
*.log
*.tmp
*.bak
*~

# System (Windows)
Thumbs.db
ehthumbs.db
Desktop.ini

# Build output
dist/
build/
.next/
.vercel/

# Env & config
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Tailwind CSS source maps
*.css.map

# Other
coverage/
.nyc_output/
