body {
  font-family: "Montserrat", sans-serif;
  font-size: normal;
}

a:hover {
  color: gray;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}

#about-me {
  background-color: grey;
}

.card-img-top {
  width: 64px;
  height: 64px;
}

.jumbotron {
  background-color: grey;
}

.jumbo-img {
  max-width: 100%;
  width: 500px;
  height: auto;
  object-fit: contain;
}

.nav-link {
  color: white;
}

.profile-img {
  width: 512px;
  height: 512px;
}

.swipeup {
  position: fixed;
  bottom: 5%;
  right: 5%;
  background: linear-gradient(to right, gray, white) !important;
  border: solid 1px silver;
}
